.container1
{
    width: 900px;
    margin: auto;
    display: flex;
}
.top_right{
    padding-top: 40px;
    padding-left: 60px;
}
.top-up
{
    display: flex;
    margin-left: 25px;
}
.top-up .about-left >h4{
    font-family: 'satisfy_regular';
color:#5c5c5c;

}
.baner1
{
    background-color: #0000006b;
}
.bA > div
{
    padding: 15px;
}
.flex-container{
    width:950px;
    margin:auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  

  li a {
    display: block;
    padding: 8px;
    background-color: white;
  }


  .baner2.1
  {  display :flex;
      background-color: gray;
      padding: 20px;
      margin: 20px, 20px;
      justify-content: center;
    
  }
 .left{
     padding:150px;
     width: 30%;
 }
 .rights
 {
     width:70%;
     padding-top: 60px;
 }
  .leftsymbol
  {
      height: 90px;
      width:150px;
      padding: 25px;
      background-color: #8bde3878;
      text-align: center;
  }
  .butt1
  {
    border: none;
    padding: 15px 32px;
    width: 45%;
    background-color: #93ad26c7;
    border-radius: 7px;
    margin :40px 160px;
    color:white;
  }
  
  .baner2
  {
    background-image: url("/stylesheet/images/hbg2.png");
    height: 450px;
  }

    
.button {
    background-color:#a7ce38;;
    border: none;
    color: white;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  padding-top: 10px;
}
.Aboutus 
{
    padding-top: 100px;

    width: 70%;
}
.butt2{
    background-color: #93ad26c7;
    background-color: gren;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    border: none;
}
.baner3right
{
    border-block:2px;
    border-block-color:grey;
}
.baner4
{
    background-image: url("images/testimonial-bg.jpg");
    
    height: 500px;
    color:white;
    text-align: center;
}
.dotted
{
    padding-top: 70px;
}
 
#p3{
    text-transform: capitalize;
}

.button2
{
        background-color: white; /* Green */
        border: none;
        color: green;
        padding: 20px;
        text-align: center;
        width: 80px;
        border-radius:50%;
}

.b4{
    display:block;
    position: relative;
    
}
.dotted
{
    margin-top: 50%;
}
.search-bu
{
    border:3px solid silver;
    border-radius: 10px;
}
.flex-container
{
    display:flex;
    flex-direction: row;
    width:900px;
}
.flex-container > div {
    
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 10px;
  }
.numimg
{

    font-size: 40px;
    width:35px;
    height: 100px;
    position: absolute;
    left:25px;
    top: 78px;
    color: #0080004d;
}

.b42
{
    padding-top: 25px;
}


.baner5
{
    
    background-image: url("/stylesheet/images/hbg6.png");
}
.baner5 > div{
    text-align: center;
    padding:10px 0;
    margin: 100px,100px;

}
.container2
{
    width:900px;
    margin:auto;
    display: grid;
    justify-content: center;
    height: 600px;
    grid-template-columns: 400px 400px;
    grid-gap:10px;
    padding:10px;
}

.b5-1
{
    grid-column: 1/span 2;
}
.b5-2
{
    background-color: white;
    margin-bottom: 20px;
    padding: 30px;
}
.b5-3
{
    background-color: white;
    margin-bottom: 20px;
    padding: 30px;
}
.baner6
{
    background-image: url("/stylesheet/images/hbg5.png");
    padding: 60px;
}  
.container3
{
    width:900px;
    margin: auto;
    text-align: center;

    color: white;
}
.b6-1
{
    display:flex;
    justify-content:space-between;
    padding:25px;
}
.b6-2{
    width: 30%;

}
.butt3
{
    background-color: #95b528;
    border: none;
}
.butt4
{
    background-color: #92ab26;
    border: none;
}


.imgb6-2
{
    border-radius: 50%; 
    border: 8px solid;
    border-color: #b6d433;
    height: 140px;
    padding :10px;
}


.baner7
{
    
    width:900px;
    margin:auto;
    padding-bottom: 25px;
    
}
.b3img
{
    outline: rgb(193, 206, 194) solid 10px;
}
.b7
{
   display:flex;
   justify-content: space-between;

   
}
.b7-2
{
    width:30%;
}
.b7-2 img { width:100%;}

.butt5
{
    padding: 10px 50px;
    border-radius: 5px;
    color: rgb(147, 201, 77);
    border-color: yellowgreen;
    background-color: white;

}
.a:focus{
    background-color: green;
}

  .button2{
      border-radius: 20px;
      width:400px;
  }
  
  .baner8

  {   display :flex;
      background-color: gray;
      padding: 20px;
      margin: 20px, 20px;
      justify-content: center;
    
  }
  .baner8 > div{
      padding:10px;
  }
  .button1
  {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #5a5757;
    color: white;
    border: 2px solid;
  }
  .container6
  {
      width:900px;
      margin: auto;
  }
  .banner9-up
  {
      padding-bottom: 40px;
      color:white;
  }
  .banner9-up h4{
    font-family: 'satisfy_regular';
    color: white
    

  }
  .banner9-down
  {
      display:flex;
      justify-content: space-between;
      padding-bottom: 20px;
      
  }
  .banner9-down h5{
      color:white;
  }
  .banner9-down > div{
      width: 30%;
  }

  .baner9{
    background-color:darkgray;
  }
.b9up-up
{
    display:flex;
    padding-top: 25px;
    
    
}
.b9up-up > h4{
    text-align: center;
    padding-left: 20px;
    padding-top: 40px;
}
.b9up-down
{
    display :flex;
    justify-content: space-between;
    
}
  .b9-b1{
      width:27%;
  }
  .b9-con{
      width:40%;

  }
  
  .footer
  { 
      background-color: black;
      
  }
  .footer1
  {
    display:flex;
    justify-content: space-between;
    width : 900px ;
    margin:auto;
}
.f1 {
    margin: 10px 20px 20px 10px;
}
 
